@import 'overlayscrollbars/styles/overlayscrollbars.css';
@import 'tailwindcss';
@config '../tailwind.config.js';

@layer base {
  @font-face {
    font-family: 'VT323';
    src: url('./assets/fonts/VT323-Regular.ttf');
    font-weight: 400;
  }

  html {
    @apply text-[100%];
  }

  body {
    --sidebar-width: 3.75rem;
    --header-height: 3.75rem;
    --header-height__mobile: 3.75rem;
    @apply font-vt323 leading-none text-dark-knight dark:text-pastel-placebo;

    header {
      @apply text-xl/8 font-normal lg:text-2xl;
    }

    .content {
      @apply text-xl/6 font-normal lg:text-[1.625rem] lg:leading-7;
    }

    & .typing-header {
      @apply inline-flex min-h-[6.5rem] w-full flex-nowrap text-[3.25rem] font-normal leading-none lg:min-h-[6.25rem] lg:w-auto lg:text-[6.25rem] lg:leading-[7.5rem];
      & .typing-header__text {
        @apply text-green-haze dark:text-screen-glow;
      }
    }

    & .above-typing-header_text {
      @apply text-xl/6 font-normal lg:text-[1.625rem] lg:leading-7;
    }
  }
}

.p-component {
  @apply font-vt323;
}
